<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.therussells.project8inventoryapp1">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Inventory Database"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:fullBackupContent=""
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".AddInventoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
                android:name=".EditorActivity"
                android:label="@string/add_product"
                android:parentActivityName=".AddInventoryActivity"
                android:theme="@style/AppTheme">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".AddInventoryActivity" />

                   </activity>

        <provider
                android:name=".data.InventoryProvider"
                android:authorities="com.example.android.pets"
                android:exported="false" />
    </application>

</manifest>